html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  color: rgb(77, 77, 77);
  font-family: 'Roboto', georgia, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  outline-width: 0;
}
img {
  border-style: none;
}
input, textarea {
  font-family: 'Roboto', georgia, sans-serif;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
h1 {
  font-size: 64px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 32px;
}
h3 {
  font-size: 24px;
  font-weight: 800;
  margin: 0 0 -14px 0;
  color: rgb(128, 128, 128);
}
h4 {
  font-size: 16px;
  font-weight: 400;
}
h5 {
  font-size: 15px;
  font-weight: 400;
}
h6 {
  font-size: 14px;
  font-weight: 400;
}

ul {
  margin: 0 0 0 48px;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
}
p {
  margin: 0;
  padding: 0;
  line-height: 180%;
}
/*------------------------------ Mike Stuff ----------------------------- */
.accent-bar {
  width: 64px;
  height: 2px;
  background-color: rgba(201, 222, 18, 1);
  margin: 16px 0 16px 0
}

.titles {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 0 0;
}

.cozy {
  line-height: 180%;
}

@media only screen and (min-width: 961px) {
  .titles {
    font-size: 32px;
  }
}

.section-double {
  padding: 48px 0 48px 0;
}
@media only screen and (min-width: 961px) {
  .section-double {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.section-single {
  width: 100%;
  max-width: 1200px;
  padding: 48px;
  margin: 0 auto 0 auto;
}

.section-single-image {
  padding: 48px 0 48px 0;
}

@media only screen and (min-width: 961px) {
  .section-single-image {
    width: 100%;
    max-width: 1200px;
    padding: 48px;
    margin: 0 auto 0 auto;
  }
}


.section-reverse {
  flex-direction: row-reverse;
}

.section-intro {
  padding: 0 0 48px 0;
}

@media only screen and (min-width: 961px) {
  .section-intro {
    margin-top: -48px;
    padding: 96px 0 0 0;
    min-height: 85vh;
  }
}

.section-content {
  padding: 48px;
}

@media only screen and (min-width: 961px) {
  .section-content {
    max-width: 600px;
    flex-grow: 0;
    padding: 48px;
  }
}

.section-img {
  width: 100%;
}

.section-img img {
  max-width: 100%;
}

@media only screen and (min-width: 961px) {
  .section-img {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .section-reverse img {
    margin-left: auto;
  }
  
  .section-img img{
    display: block;
    max-height: 67vh;
  }
}

